/* Today.module.css */

.todayPage {
    padding: 20px;
    font-family: Arial, sans-serif;
    margin-top: 0; /* Add this line to remove any top margin */
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .taskList {
    list-style-type: none;
    padding: 0;
  }
  
  .taskItem {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
  }
  
  .taskItem h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  .taskItem p {
    margin: 5px 0 0;
    color: #666;
  }
  
  .typing {
    white-space: nowrap;
    overflow: hidden;
    border-right: .1em solid black;
    animation: typing 2s steps(30, end), blink-caret 0.75s step-end 1, remove-caret 0s step-end 2.75s forwards;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  }
  
  @keyframes remove-caret {
    to { border-right: none; }
  }
  