
.websiteHeader {
  position: absolute;
  top: 24px;
  left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.websiteName {
  font-weight: bold;
  font-size: 25px;
  z-index: 1100;
  color: var(--secondary-color);
  cursor: pointer;
}



.toggleButton {
  z-index: 1100;
  border-radius: 8px;
  background-color: transparent; 
  border: none;
  box-shadow: none;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.icon {
  font-size: 1.5rem;
}
