.sideNavbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: var(--primary);
  color: #fff;
  padding-top: 1rem;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.sideNavbar.closed {
  transform: translateX(-250px);
}

.sideNavbar.open {
  transform: translateX(0);
}

.navbarHeader {
  color: #fff;
  margin-left: 1rem;
}

.navLink {
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
  margin-left: 0.8rem;
}

.navLink:hover {
  color: #adb5bd;
}

.content {
  transition: margin-left 0.3s ease-in-out;
}

.content.sidebarOpen {
  margin-left: 250px;
}

@media (max-width: 768px) {
  .sideNavbar {
    width: 80%;
    max-width: 300px;
  }
  
  .sideNavbar.closed {
    transform: translateX(-100%);
  }
  
  .content.sidebarOpen {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .sideNavbar {
    width: 90%;
  }
}