/* Navbar.css */
.navbar-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1001; /* Higher z-index to appear above the navbar */
  }
  
  .navbar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: width 0.3s;
    padding-top: 60px;
    z-index: 1000; /* Lower z-index than the button */
  }
  
  .navbar.open {
    width: 200px;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar ul li {
    padding: 8px 16px;
    text-align: left;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .navbar ul li a:hover {
    background-color: #575757;
  }
  