.sideNavbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: var(--primary);
  color: #fff;
  padding-top: 1rem;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.sideNavbar.closed {
  transform: translateX(-250px);
}

.sideNavbar.open {
  transform: translateX(0);
}

.navbarHeader {
  color: #fff;
  margin-left: 1rem;
}

.navLink {
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
  margin-left: 0.8rem;
}

.navLink:hover {
  color: #adb5bd;
}

.content {
  transition: margin-left 0.3s ease-in-out;
}


@media (max-width: 768px) {
  .sideNavbar {
    max-width: 250px;
  }
  
  .sideNavbar.closed {
    transform: translateX(-100%);
  }
  
  .content.sidebarOpen {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .sideNavbar {
    max-width: 250px;
  }
}


.profileButtonContainer {
  position: absolute;
  bottom: 55px;
  left: 20px;
  display: flex;
  justify-content: center;
}

.profileButton {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--background-color);
  color: var(--ascent-color);
  font-size: 23px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  overflow: hidden;
  padding: 0; 
}

.profileButton:hover {
  background-color: var(--background-color);
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* This ensures the image covers the entire button */
}

.profilePopup {
  position: absolute;
  bottom: 45px;
  left: 23px;
  transform: translateX(-15%);
  background-color: var(--background-color);
  border-radius: 16px;
  padding: 16px;
  width: 230px;
  box-shadow: 0px 6px 18px 0px rgba(0, 72, 141, 0.12);
}

.profilePopup h3 {
  color: var(--text-color);
  font-size: 18px;
}

.profilePopup p {
  margin: 0 0 15px;
  font-size: 14px;
  color: var(--text-color);
}

.logoutButton {
  width: 100%;
  padding: 8px;
  background-color: var(--ascent-color);
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: var(--ascent-color-dark);
}