

.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContent {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}

.logoContainer {
  text-align: center;
}

.logoContainer img {
  max-width: 200px;
  height: auto;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .divider::after,
  .divider::before {
    content: "";
    flex: 1;
    height: 1px;
  }
  
  .divider p {
    margin: 0 10px;
  }

  .formOutline {
  }
  
  