.toggleButton {
    position: fixed;
    top: 35px;
    left: 60px;
    z-index: 1100;
    border-radius: 8px;
    background-color: transparent; 
    border: none;
    box-shadow: none;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  
  .icon {
    font-size: 1.5rem; /* Adjust the font-size as needed */
  }
  